.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family: "CabinetGrotesk", Arial, sans-serif;
  z-index: 1000;
}

.modal__visible {
  visibility: visible;
}

.modal__container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 400px;
  width: 100%;
  text-align: left;
  font-weight: 700;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.modal__close:focus {
  outline: none;
  box-shadow: none;
}

.modal__title {
  color: black;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
}

.modal__form {
  color: black;
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal__span {
  margin: 0;
  padding: 0;
  height: 24px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 0;
  margin-top: 5px;
  background-color: transparent;
}

.modal__radio-title {
  margin-top: 24px;
  margin-bottom: 10px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
}

.modal__radio-option {
  margin-bottom: 10px;
}

.modal__submit-button {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 124px;
}

.modal__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__radio-buttons {
  margin-bottom: 0;
}

.modal__radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal__radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 50%;
  background: transparent;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 8px;
  padding: 0;
}

.modal__radio-input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: black;
  transition: transform 0.1s ease-in-out;
}

.modal__radio-input:checked::after {
  transform: translate(-50%, -50%) scale(1);
}
