#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 32px 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: rgba(243, 243, 243, 1);
}
