#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 32px 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: rgba(243, 243, 243, 1);
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("../../assets/CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CabinetGrotesk";
  src: url("../../assets/CabinetGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
