.item-modal {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "CabinetGrotesk", Arial, sans-serif;
}

.item-modal__container {
  position: relative;
  background-color: white;
  border-radius: 10px;
  max-width: 498px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.item-modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.item-modal__close img {
  width: 100%;
}

.item-modal__close:hover {
  opacity: 0.7;
}

.item-modal__image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  object-fit: contain;
  display: block;
}

.item-modal__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 32px 32px 32px;
  box-sizing: border-box;
}

.item-modal__caption {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "CabinetGrotesk", Arial, sans-serif;
}

.item-modal__caption-name {
  margin: 0;
}

.item-modal__caption-weather {
  margin: 0;
}

.item-modal__button-delete {
  color: rgba(255, 77, 0, 1);
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  margin-top: 5px;
}
