.sidebar {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 100vh;
  background-color: #f1f1f1;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidebar__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar__username {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.sidebar__actions {
  margin-top: 8px;
  text-align: left;
}

.sidebar__edit {
  background: transparent;
  border: none;
  color: #000;
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.sidebar__logout {
  background: transparent;
  border: none;
  color: #000;
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  display: block;
}
