.clothes-section__header {
  display: flex;
  flex-direction: row;
}

.clothes-section__header-title {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-right: 20px;
}

.clothes-section__header-button {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}
